#!/bin/bash
export COLORTERM=truecolor
use flake
export RUST_BACKTRACE=1
export GIT_CC_LS_ENABLE_TELEMETRY=true
export GIT_CC_LS_ENABLE_ERROR_REPORTING=true
PATH="${PWD}/editors/code/base/node_modules/.bin:${PATH}"
PATH="${PWD}/target/release:${PATH}"
PATH="${PWD}/bin:${PATH}"
export PATH
export EDITOR=vim
export SENTRY_DSN=https://890fb0ac27294cfa82176b5b2e6e2ea3@o4505313803436032.ingest.sentry.io/4505313814118400
export RUSTFLAGS="-Clink-args=-Wl,--build-id=sha1"
# quick-and-dirty dotenv support
# if [ -f ./.env ]; then
#   f="$(mktemp "ccls-dotenv.XXXX")"
#   awk '/^\s*[a-zA-Z0-9-_]+=[a-zA-Z0-9-_"'"'"']+/ {print "export " $0}' ./.env >"$f"
#   # shellcheck disable=SC1090
#   . "$f"
#   rm "$f"
# fi
