#!/bin/bash
export COLORTERM=truecolor
# use flake
export RUST_BACKTRACE=1
export PATH="${PWD}/editors/code/node_modules/.bin:${PATH}"
export EDITOR=vim

# quick-and-dirty dotenv support
if [ -f ./.env ]; then
  f="$(mktemp "ccls-dotenv.XXXX")"
  awk '/^\s*[a-zA-Z0-9-_]+=[a-zA-Z0-9-_"'"'"']+/ {print "export " $0}' ./.env >"$f"
  # shellcheck disable=SC1090
  . "$f"
  rm "$f"
fi
